body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
}

canvas {
    width: 100vw;
    height: 100vh;
}

.loadmsg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ccc;
}